.card {
  padding: 2em;
}

.container {
    display: flex;
    flex-direction: row; /* 默认横向排列 */
}

@media (max-width: 600px) { /* 假设断点为600px */
    .container {
        flex-direction: column; /* 屏幕宽度小于600px时纵向排列 */
    }
}
